{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="ghostkit-grid ghostkit-grid-gap-md">
  <div class="ghostkit-grid-inner">
    <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-lg-12 ghostkit-col-8">
      <div class="ghostkit-col-content">
        

        <h3 class="is-style-squadforce-decorated ghostkit-custom-3Nm3T"><span style="color:#dd163b"
            class="has-inline-color">All</span>&nbsp;Vedio</h3>
        <div class="ghostkit-grid ghostkit-grid-gap-md">
          <div class="ghostkit-grid-inner">
            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4">
              <div class="ghostkit-col-content">
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now
                            Playing</strong></span></span></a></div>
                </div>
                <p> Whales. Evening living said first open female kind he creeping. Deep waters female
                  given seasons light for. Midst above fly. Creature void fowl the. Divide void
                  appear.</p>
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match
                            Details</strong></span></span></a></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8">
              <div class="ghostkit-col-content">
                <div class="ghostkit-video ghostkit-video-ready ghostkit-video-playing" data-video-type="yt_vm_video"
                  data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9"
                  data-video-volume="100" data-click-action="plain" data-video-autoplay="true"
                  data-video-autopause="true">
                  <div class="ghostkit-video-play-icon"><svg class="ghostkit-svg-icon ghostkit-svg-icon-fa"
                      aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor"
                        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                      </path>
                    </svg></div>
                  <div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div>
                  <div class="ghostkit-video-poster"><img src="{%static 'layout/home/maxresdefault.jpg' %}" alt="">
                  </div>
                  <div class="ghostkit-video-frame"><iframe id="VideoWorker-0" frameborder="0" allowfullscreen="1"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      title="YouTube video player" width="640" height="360"
                      src="{%static 'layout/home/qjTdZdgDH_A.html' %}"></iframe></div>
                </div>
              </div>
            </div>


            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4">
              <div class="ghostkit-col-content">
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now
                            Playing</strong></span></span></a></div>
                </div>
                <p> Whales. Evening living said first open female kind he creeping. Deep waters female
                  given seasons light for. Midst above fly. Creature void fowl the. Divide void
                  appear.</p>
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match
                            Details</strong></span></span></a></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8">
              <div class="ghostkit-col-content">
                <div class="ghostkit-video ghostkit-video-ready ghostkit-video-playing" data-video-type="yt_vm_video"
                  data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9"
                  data-video-volume="100" data-click-action="plain" data-video-autoplay="true"
                  data-video-autopause="true">
                  <div class="ghostkit-video-play-icon"><svg class="ghostkit-svg-icon ghostkit-svg-icon-fa"
                      aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor"
                        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                      </path>
                    </svg></div>
                  <div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div>
                  <div class="ghostkit-video-poster"><img src="{%static 'layout/home/maxresdefault.jpg' %}" alt="">
                  </div>
                  <div class="ghostkit-video-frame"><iframe id="VideoWorker-0" frameborder="0" allowfullscreen="1"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      title="YouTube video player" width="640" height="360"
                      src="{%static 'layout/home/qjTdZdgDH_A.html' %}"></iframe></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4">
              <div class="ghostkit-col-content">
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now
                            Playing</strong></span></span></a></div>
                </div>
                <p> Whales. Evening living said first open female kind he creeping. Deep waters female
                  given seasons light for. Midst above fly. Creature void fowl the. Divide void
                  appear.</p>
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match
                            Details</strong></span></span></a></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8">
              <div class="ghostkit-col-content">
                <div class="ghostkit-video ghostkit-video-ready ghostkit-video-playing" data-video-type="yt_vm_video"
                  data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9"
                  data-video-volume="100" data-click-action="plain" data-video-autoplay="true"
                  data-video-autopause="true">
                  <div class="ghostkit-video-play-icon"><svg class="ghostkit-svg-icon ghostkit-svg-icon-fa"
                      aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor"
                        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                      </path>
                    </svg></div>
                  <div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div>
                  <div class="ghostkit-video-poster"><img src="{%static 'layout/home/maxresdefault.jpg' %}" alt="">
                  </div>
                  <div class="ghostkit-video-frame"><iframe id="VideoWorker-0" frameborder="0" allowfullscreen="1"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      title="YouTube video player" width="640" height="360"
                      src="{%static 'layout/home/qjTdZdgDH_A.html' %}"></iframe></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4">
              <div class="ghostkit-col-content">
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now
                            Playing</strong></span></span></a></div>
                </div>
                <p> Whales. Evening living said first open female kind he creeping. Deep waters female
                  given seasons light for. Midst above fly. Creature void fowl the. Divide void
                  appear.</p>
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match
                            Details</strong></span></span></a></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8">
              <div class="ghostkit-col-content">
                <div class="ghostkit-video ghostkit-video-ready ghostkit-video-playing" data-video-type="yt_vm_video"
                  data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9"
                  data-video-volume="100" data-click-action="plain" data-video-autoplay="true"
                  data-video-autopause="true">
                  <div class="ghostkit-video-play-icon"><svg class="ghostkit-svg-icon ghostkit-svg-icon-fa"
                      aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor"
                        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                      </path>
                    </svg></div>
                  <div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div>
                  <div class="ghostkit-video-poster"><img src="{%static 'layout/home/maxresdefault.jpg' %}" alt="">
                  </div>
                  <div class="ghostkit-video-frame"><iframe id="VideoWorker-0" frameborder="0" allowfullscreen="1"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      title="YouTube video player" width="640" height="360"
                      src="{%static 'layout/home/qjTdZdgDH_A.html' %}"></iframe></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4">
              <div class="ghostkit-col-content">
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now
                            Playing</strong></span></span></a></div>
                </div>
                <p> Whales. Evening living said first open female kind he creeping. Deep waters female
                  given seasons light for. Midst above fly. Creature void fowl the. Divide void
                  appear.</p>
                <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left">
                  <div class="ghostkit-button-wrapper-inner"> <a
                      class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo"
                      href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span
                        class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match
                            Details</strong></span></span></a></div>
                </div>
              </div>
            </div>

            <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8">
              <div class="ghostkit-col-content">
                <div class="ghostkit-video ghostkit-video-ready ghostkit-video-playing" data-video-type="yt_vm_video"
                  data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9"
                  data-video-volume="100" data-click-action="plain" data-video-autoplay="true"
                  data-video-autopause="true">
                  <div class="ghostkit-video-play-icon"><svg class="ghostkit-svg-icon ghostkit-svg-icon-fa"
                      aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor"
                        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                      </path>
                    </svg></div>
                  <div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div>
                  <div class="ghostkit-video-poster"><img src="{%static 'layout/home/maxresdefault.jpg' %}" alt="">
                  </div>
                  <div class="ghostkit-video-frame"><iframe id="VideoWorker-0" frameborder="0" allowfullscreen="1"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      title="YouTube video player" width="640" height="360"
                      src="{%static 'layout/home/qjTdZdgDH_A.html' %}"></iframe></div>
                </div>
              </div>
            </div>

            

          </div>
        </div>



        <div class=" cyberpress-block-matches">
        </div>

       
      </div>
    </div>

    {% include 'social/sidebar.html' %}

  </div>
</div>

{% endblock body %}